[Desktop Entry]
Name=ThLink Client Gtk
Comment=Touhou project game netplay tool
Comment[zh_CN]=通用的东方联机器
Exec=thlink-client-gtk
Icon=thlink-client-gtk
Terminal=false
Type=Application
Categories=Network;Game
